body {
  background-color: #FAFFF9 !important;
}

.sidenav {
  height: 110%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #DEDEDE;
  overflow-x: hidden;
  padding: 20px 8px 0px 16px;
}
.sidenav a {
  padding-bottom: 6px;
  text-decoration: none;
  font-size: 10px;
  color: #414141;
  display: block;
}

.sidenav input {
  height: 20px;
  padding: 0px 5px 0px 5px;
  font-size: 10px;
}

hr {
  border:0.5px solid #313131;
}

.main {
  margin-right: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  text-align: center;
  position: relative;
}

.starstruck {
  text-align:center;
  padding-right: 15%;
}

.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 10px;
  padding-right:8px;
  padding-top: 3px
}