body {
  background-color: #FAFFF9 !important;
}

.sidenav {
  height: 110%;
  width: 160px;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #DEDEDE;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 10px;
  color: #414141;
  display: block;
}

hr {
  border:0.5px solid #313131;
}

.main {
  margin-right: 160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
  text-align: center;
}

.starstruck {
  text-align:center;
  padding-right: 15%;
}