<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<link rel="shortcut icon" type="image/x-icon" href="static/icon/StarStruck.png"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script src="{{url_for('static', filename='js/reload.js')}}"></script>
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>

   <!-- Social Media Links -->
    <meta property="og:title" content="StarStruck">
    <meta property="og:description" content="Investment Algorithm to Mine the Stars">
    <meta property="og:image" content="static/icon/StarStruck.png">
    <meta property="og:url" content="#">
    <meta name="twitter:card" content="summary_large_image">

    <meta property="og:site_name" content="StarStruck">
    <meta name="twitter:image:alt" content="Investment Algorithm to Mine the Stars">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Investment Algorithm to Mine the Stars">
    <!-- Social Media Links -->



<title> StarStruck </title>
</head>
<body>

<h1 class='starstruck'>StarStruck <img id="starstruck" class="logo" src="static/icon/StarStruck.png"/></h1>
<div class="main">
  <img id="graph" src={{ imgsrc }} width='100%'/> <!-- TODO: make a carousel of the portfolio value over time + all the wallets value over time lol -->
  <div class="top-right" id='title'> {{ imgsrc[13:-4] }} </div>
</div>



<div class="sidenav">
  {% for i in bal[:-1] %}
    <a href={{ "/" + i.lower() }}> {{ i }} </a>
  {% endfor %}
  <hr/>
  <a href="/"> {{ bal[-1] }} </a>
  <hr/>
  <form method="post" id="update">
    <input class="btn btn-success" type="submit" value="UPDATE"/>
  </form>
</div>

</body>
</html>